<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="CatalogDBConnString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=LAPTOP-3B7VCI91\EPOSMAN;Initial Catalog=Musicalog;Integrated Security=True" />
  </connectionStrings>
  
</configuration>