<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <connectionStrings>
    <add name="CatalogDBConnString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=LAPTOP-3B7VCI91\EPOSMAN;Initial Catalog=Musicalog;Integrated Security=True" />
  </connectionStrings>


</configuration>
